<div>
  <video src="video.mp4" id="video" ng-mouseover="play()"></video>

  <div>
    <button ng-click="togglePlay()">Play / Pause</button>
    <button ng-click="toggleMute()">Mute / Un-mute</button>
    |
    Volume:
    <button ng-click="changeVolume(true)">+</button>
    <button ng-click="changeVolume(false)">-</button>
  </div>

  <div>
    <h4>Video info:</h4>
    <p>Playing: {{playStatus}}</p>
    <p>Volume: {{volume}}%</p>
    <p>Mute status: {{muteStatus}}</p>
    <p>Download progress: {{downloadProgress}}%</p>
    <p>Current playback position: {{currentPlaybackPosition}} second</p>
  </div>
</div>